<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <main>
        <h1>WEATHER APP</h1>

        <form>
            <input type="text" name="city">
            <button type="submit">Search</button>
        </form>

        <div>
            <img src="images/local.png">
            <p> <%= city_name %> </p><br>
            
            <img src="images/temperature.png"> 
            <p> <%= temperature %> kelvin </p> <br>
            
            <img src="images/rain.png"> 
            <p> <%= weather_name %> </p>
        </div>

    </main>
</body>

</html>